@font-face {
  font-family: "Careem";
  src: url('../assets/Careem\ Bold.ttf');
  
}
body {
  background-color: #263138;
  color: #fff;
  font-family: "Careem", Helvetica, Arial, sans-serif;
  position: absolute;
  overflow-x: hidden;
  /* overflow: hidden; */
  /* height: 1500px; */
}

header {
  width: 100px;

  display: inline-flex;

  align-items: center;
}

header h3 {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 500px;
  margin-left: 550px;
  text-align: left;
  font-size: 13px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1.7px;
  opacity: 0.7;
}
header a {
  color: #75e9bf;
  text-decoration-line: none;
}

h3 {
  font: bold;
  /* line-height: 64px; */
  /* letter-spacing: 100; */
}
form {
  width: 500px;
  height: 500px;
  margin-left: 300px;
}

h1 a{
  color: white;
  text-decoration: none;
}

h1 a:visited{
  color: white;
  text-decoration: none;

}
.special-cases {
  color: #ffb281;
}
::placeholder {
  text-align: left;
  letter-spacing: 1.7px;
  color: #ffffff;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.register {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 150px;
}

.names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  letter-spacing: 1.7px;
}

.register .input {
  height: 32px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  margin-bottom: 44px;

  border-radius: 20px;
  padding: 15px;
  align-items: center;
  outline: #fff;
}

.fa-solid {
  color: #263138;
  font-size: 20px;
  margin: 0 5px;
}

.register input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: white;
}

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 0px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: #494f55 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 6px;
}
input .checkbox {
  background: #494f55 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

button {
  width: 246px;
  height: 55px;
  background: #8668f2;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  letter-spacing: 0px;
  border-radius: 20px;
  border: 0px solid transparent;
  margin-left: 250px;
  margin-top: 10px;
  /* padding: 10px 60px; */
}

.cA:hover {
  color: #2d63c8;
  background-color: #ffffff;
}

.invite {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 700px;
  border-radius: 5px;

  flex-direction: column;

  margin-left: 600px;
  /* border: 7px solid #8668F2; */
  /* border-radius: 60px; */
}

.invite-text {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invite-text h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 65px;
  margin-left: 30px;
}

.invite-text h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  opacity: 1;
}

.background {
  background-color: transparent;
  height: 920px;
  width: 100%;
  position: absolute;
  z-index: -100;
  display: flex;

  margin-bottom: 210px;
  margin-right: 150px;
}
.terms {
  text-align: left;
  font-size: 12px;
  letter-spacing: 1.4px;
  color: #8790a2;
  margin-left: 10px;
}

.invite-text{
  margin-bottom: 60px;
  line-height: 10px;
  
}

.invite-text h3{
  font-size: 20px;
  margin-left: 30px;
  
}

.dot {
  /* border-radius: 50%; */
  position: absolute;
  transition: all 0.5s ease;
  animation: fall 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.pop {
  position: absolute;
  transition: all 0.2s ease;
  animation: pop 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fall {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 200px);
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    translate: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    translate: translate(100px, 100px);
  }
}